#question-type-title{
    margin-top: 50px;
    font-size:xx-large;
}

#desc{
    font-size:large;
    width: 90%;
    height: 100%;
    text-align: center;
}

#button-box{
    justify-content: left;
    margin-bottom: 10px;
}

#description-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
}

#continue-button:focus{
    box-shadow: none;
}