#detailed-progress-bar-box{
    display: flex;
    border: solid;
    border-color: black;
    border-width: 2px;
    height: 20px;
    width: 200px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: white;
}

#detailed-progress-bar{
    height: 10px;
    justify-self: left;
    background-color: aquamarine;
    transition: width .5s;
}

.text-input-question{
    margin-bottom: 20px;
    margin-top:20px;
}

#detailed-prog-bar{
    position: sticky;
    top:0;
    background-color: darkseagreen;
    padding-bottom: 10px;
    padding-top: 5px;
}

#title{
    margin-top:20px;
    margin-bottom: 10px;
}

#submit-area{
    padding: 40px;
}

#detailed-submit{
    margin-bottom:20px;
    box-shadow: none;
    outline: 1px;
}
