#title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #024932;
    font-family: FlowersKingdom;
    font-size: x-large;
}

#description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

#hpc{
    flex-basis: 50%;
}


#homepage-content{
    display:flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    padding-right:20px;
}

.quiz {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    border: solid;
    border-width: 1px;
    margin: 5px;
    flex-basis: auto;
    height: 100%;
    border-radius: 15px;
    background-color: #fbf6f2;
    border-color: #266d56;
    border-width: 5px;
    box-shadow: 0px 0px 10px #0249325c;
    max-height: 250px;
    max-width: 1000px
}

#homepage-box{
    display: flex;
    flex-direction: column;
    height: 100%;
}