#screen{
    position:fixed;
    display:flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#overlay{
    width: 100%;
    height:100%;
    background-color: black;
    opacity: .3;

}

#popup{
    border: solid #024932 5px;
    font-family: Creato;
    color: #024932;
}

#welcome{
    height: 116.98px;
    width: 210.18px;
}

#welcome-mascot{
    height:50px
}

.submission{
    margin-top: 10px;
}

#email-error{
    height: 1em;
}