#navbar{
    display: flex;
    justify-content: center;
    background-color: green;
    padding-left: calc(100vw - 100%);
}

.navButton{
    margin: 10px;
    background-color: lightyellow;
    border-radius: 0%;
    color: black;
    border-color: black;
}

.navButton:hover {
    background-color: darkseagreen;
    color: white;
    border-color: black;
}

.navButton:focus{
    background-color: darkseagreen;
    box-shadow: none;
    border-color: black;
}
