#navbar{
    display: flex;
    justify-content: center;
    background-color: green;
    padding-left: calc(100vw - 100%);
}

.navButton{
    margin: 10px;
    background-color: lightyellow;
    border-radius: 0%;
    color: black;
    border-color: black;
}

.navButton:hover {
    background-color: darkseagreen;
    color: white;
    border-color: black;
}

.navButton:focus{
    background-color: darkseagreen;
    box-shadow: none;
    border-color: black;
}

#log-in{
    justify-self: right;
    flex-basis: 10%;
    min-width: 70px;
}

#nav-buttons{
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
    justify-content: center;
    padding-left: calc(10%)
}
