#screen{
    position:fixed;
    display:flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#overlay{
    width: 100%;
    height:100%;
    background-color: black;
    opacity: .3;

}

#popup{
    display: flex;
    flex-direction: column;
    flex-basis: content;
    justify-content: center;
    background-color: white;
    z-index: 10;
    border-radius: 15px;
    z-index: 101;
    opacity: 1;
    max-width: 30%;
    padding: 20px;
    border-width: 10px;
    border-color: #024932;
}

#x-wrapper{
    display: flex;
    justify-content: flex-end;
}

#close-popup{
    padding:0px 2px 0px 2px;
    border: none;
    background-color: #ffffff00;
    color: red;
    box-shadow: none;
    outline: 1px;
    outline: black;
    border-color: black;
}