.container {
    display: flex;
    gap: 20px;
}


#careerSuggestion{
    font-size: x-large;
    text-align: center;
    color: rgb(129, 30, 30);
}

#careerDescription{
    font-size: medium;
    color: black;
    text-align: center;
    margin-top:10px;
}

#answerBreakdown{
    font-size: medium;
    text-align: center;
    color: black;
}

#report{
    display:flex;
    flex-direction:column;
    background-color: #fbf6f2;
    border: solid 1px#d6844b;
    border-radius: 15px;
    padding:5px 20px 5px 20px;
    flex: 1;
    justify-content: space-between;
    font-family: Creato;
}

#potentialMajors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#majors{
    margin-top: 10px;
}

#major{
    background-color: rgb(188, 238, 195);
    padding:3px 7px 3px 7px;
    border-radius: 15px;
    color: rgb(28, 106, 35);
}