#progress-bar-box{
    display: flex;
    border:none;
    height: 20px;
    width: 70%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: white;
    border-radius:15px;
}

#progress-bar{
    height: 10px;
    justify-self: left;
    background-color: #97d4b4;
    transition: width .5s;
    width: 100%;
    border-radius: 15px;
}

#question-sect{
    padding-left: calc(100vw - 100%)
}

#wrapper{
    display: flex;
    width: 100%;
    justify-content: left;
    padding-left: 5px;
    padding-right: 5px;
}

.text-input-question{
    margin-bottom: 30px;
    margin-top:30px;
}

#prog-bar{
    position: sticky;
    top:0;
    background-color: #266d56;
    padding-bottom: 10px;
    padding-top: 5px;
    z-index: 10;
    box-shadow: 0px 2px 5px #02493253;
    padding-left: calc(100vw - 100%)
}

#dtitle{
    margin-top:20px;
    margin-bottom: 10px;
    font-family: Coolvetica;
    color: #024932;
}

#submit-area{
    padding: 40px;
}

#quiz-submit{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    padding: 9px;
}

#s-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#sb-wrapper{
    display:flex;
    width:150px;
    align-items: center;
    justify-content: center;
}

#sb-wrapper:hover{
    cursor:not-allowed;
}

#scroll-down{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: calc(100vw - 90%);
    margin-bottom: calc(100vw - 95%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 250%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#scroll-down:hover{
    background-color: green;
}

#questions-page{
    margin-bottom: 20px;
}

#reminder{
    font-family: Creato;
    margin-bottom: 5px;
}