.App {
  text-align: center;
  font-family: Creato;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: FlowersKingdom;
  src: url('./Fonts/Flowers Kingdom.ttf');
}

@font-face {
  font-family: Coolvetica;
  src: url('./Fonts/Coolvetica\ Rg.otf');
}

@font-face {
  font-family: Creato;
  src: url('./Fonts/CreatoDisplay-Regular.otf');
}

@font-face{
  font-family: Honey;
  src: url('./Fonts/hello honey.otf')
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer > #navbar > #nav-buttons > div > .navButton{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right:none;
  border-color: #cffbcd;
  padding:0;
  color: #cffbcd;
}

footer > #navbar > #nav-buttons > div > .navButton:hover{
color: #d6844b;
border-color: #d6844b;
}


#app-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position:relative;
  top:0;
}

#page-content{
  flex-grow:1;
  overflow-y: auto;;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#footer{
  position:sticky;
  bottom: 0;
  justify-content: center;
  width: 100%;
  display: flex;
  background-color: #024932;
  padding-right: calc(15px - (100vw - 100%));
}


footer > #navbar{
  display: flex;
  background-color: #024932;
  width: 100%;
}

footer > #navbar > #nav-buttons{
  flex-basis: 100%;
  padding-left: 0;
}

.btn-primary{
  background-color: #266d56;
  border-color: #282c34;
  outline: 1px;
}

.btn-primary:hover{
  background-color: #024932;
}

.btn-primary:disabled{
  background-color: gray;
  opacity: 1;
  border-color: black;
  cursor: not-allowed;
}

#loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}